* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#sidebar>button {
    display: grid;
    justify-content: left;
    border: none;
    background: none;
    font-size: 30px;
}

#title {
    background-color: rgb(247, 58, 69);
    font-size: 50px;
    padding: 5px 10px;
}

#content {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

#sidebar {
    background-color: rgb(16, 151, 167);
    display: grid;
    grid-auto-rows: max-content;
    padding: 10px;
    gap: 10px;
}

#createNewList:hover,
#createNewProject:hover,
#todoList:hover,
#todoProject:hover {
    background-color: red;
}

#info {
    background-color: rgb(235, 213, 179);
}

li {
    list-style: none;
}

form {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#popupListContainer,
#popupProjectContainer {
    position: absolute;
    top: 25%;
    left: 35%;
    border: rgb(247, 58, 69) solid 2px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(16, 151, 167);
    visibility: hidden;
}

#headerPopup {
    display: grid;
    grid-template-columns: 1fr 100px;
    font-size: 25px;
    padding: 4px;
}

#headerPopup>button {
    font-size: 20px;
    width: fit-content;
    justify-self: end;
    padding: 2px;
}

.bodyPopup {
    display: grid;
    grid-template-columns: 150px 220px;
    font-size: 20px;
    padding: 5px;
}

.leftAlign {
    display: grid;
    grid-template-columns: 100px min-content;
}

#listName,
#projectName {
    width: 250px;
}

#createListItem,
#createProjectItem {
    width: fit-content;
    font-size: 20px;
    padding: 2px;
}

.defaultList {
    border: green solid 4px;
    display: grid;
    grid-template-rows: 30px;
    /* grid-template-columns: 30px 500px 120px 60px 60px; */
    grid-template-columns: 20px 1fr auto auto auto;
    gap: 10px;
    margin: 10px;
    padding: 2px 10px 2px 10px;
    font-size: 25px;
}

.defaultList>button {
    width: 60px;
}