* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#sidebar>button {
    display: grid;
    justify-content: left;
    border: black solid 2px;
    border-radius: 5px;
    background: none;
    font-size: 30px;
    padding: 2px;
}

.projectTitles {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    justify-content: left;
    border: black solid 2px;
    border-radius: 5px;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px 4px 2px 4px;
    margin-left: 40px;
    background-color: rgb(235, 213, 179);
}

.projectTitle {
    display: grid;
    border: none;
    background: none;
    font-size: 25px;
    justify-content: left;
}

#title {
    background-color: rgb(98, 96, 245);
    font-size: 50px;
    padding: 5px 10px;
}

#content {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

#sidebar {
    background-color: rgb(16, 151, 167);
    display: grid;
    grid-auto-rows: max-content;
    padding: 10px;
    gap: 10px;
}

#createNewDiv {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

#createNewList {
    display: grid;
    border: black solid 2px;
    border-radius: 5px;
    background: none;
    font-size: 30px;
    width: 260px;
    margin-top: 5px;
}

#createNewList:hover,
#createNewProject:hover,
#todoList:hover,
#todoProject:hover {
    font-style: italic;
}

#info {
    background-color: rgb(235, 213, 179);
}

li {
    list-style: none;
}

form {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#popupListContainer {
    position: absolute;
    top: 25%;
    left: 35%;
    border: rgb(247, 58, 69) solid 2px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(16, 151, 167);
    visibility: hidden;
    background-color: rgb(235, 213, 179);
}

#popupProjectContainer {
    position: absolute;
    top: 35%;
    left: 5%;
    border: rgb(247, 58, 69) solid 2px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(16, 151, 167);
    visibility: hidden;
    background-color: rgb(235, 213, 179);
}

#headerPopup {
    display: grid;
    grid-template-columns: 1fr 100px;
    font-size: 25px;
    padding: 4px;
}

#headerPopup>button {
    font-size: 20px;
    width: fit-content;
    justify-self: end;
    padding: 2px;
}

.bodyPopup {
    display: grid;
    grid-template-columns: 150px 220px;
    font-size: 20px;
    padding: 5px;
}

.leftAlign {
    display: grid;
    grid-template-columns: 120px min-content;
}

#listName,
#projectName,
#projectTask {
    width: 240px;
}

#createListItem,
#createProjectItem {
    width: fit-content;
    font-size: 20px;
    padding: 2px;
}

.defaultList {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 20px 1fr auto auto auto;
    gap: 10px;
    margin: 10px;
    padding: 2px 10px 2px 10px;
    font-size: 25px;
}

.defaultList>button {
    width: 60px;
}

li.lowPriority {
    border: green solid 4px;
}

li.mediumPriority {
    border: orange solid 4px;
}

li.highPriority {
    border: red solid 4px;
}