* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#sidebar>button {
    display: grid;
    justify-content: left;
    border: none;
    background: none;
    font-size: 25px;
}

#title {
    background-color: rgb(247, 58, 69);
    font-size: 40px;
    padding: 10px 20px;
}

#content {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

#sidebar {
    background-color: rgb(16, 151, 167);
    /* background-color: rgb(104, 169, 46) ; */
    display: grid;
    grid-auto-rows: max-content;
    padding: 10px;
    gap: 10px;
}

#createNew:hover,
#listTodo:hover,
#projectTodo:hover,
#noteTodo:hover {
    background-color: red;
}

#info {
    background-color: rgb(235, 213, 179);
    /* background-color: rgb(247, 186, 8); */
}

li {
    list-style: none;
}

#popupContainer {
    position: absolute;
    top: 25%;
    left: 35%;
    border: red solid 2px;
}

#headerPopup {
    display: grid;
    grid-template-columns: 1fr 50px;
}

